<section id="agenda" class="agenda section">
  <div class="container agenda-container">
    <div class="agenda-title-wrapper">
      <h3 class="agenda-secondary-title title">explore</h3>
      <h2 class="agenda-section-title title">Agenda</h2>
    </div>
    <div class="agenda-grid">
      <div class="dates-wrapper">
        <a href="#23" class="first-day dates">
          <div class="agenda-date">
            <span class="agenda-date-day">23</span> <span>august, 2025</span>
          </div>
          <p class="day">Day 1</p>
        </a>
        <a href="#24" class="second-day dates">
          <div class="agenda-date">
            <span class="agenda-date-day">24</span> <span>august, 2025</span>
          </div>
          <p class="day">Day 2</p>
        </a>
      </div>
      <div class="agenda-content-wrapper">
        <div class="agenda-block-wrapper">
          <div id="23" class="agenda-block agenda-block-23">
            <div class="topic-content">
              <div class="content-title">
                <span class="content-title-date">august 23, 2025</span>
                <span class="content-title-time">01:30 pm → 02:15 PM</span>
              </div>
              <p class="topic-name">
                Fashion Forward: Exploring the Intersection of NFTs and Haute
                Couture
              </p>
            </div>
            <div class="main-content">
              <div class="content-title">main content</div>
              <p class="main-text">
                Experience the forefront of blockchain and NFT technology at our
                NFT Fashion Conference. Explore the transformative power of NFTs
                in the fashion industry. Gain insights into digital ownership
                and tokenized fashion assets, unlocking new avenues for
                creativity and authenticity.
              </p>
            </div>
            <div class="agenda-speaker-content speaker">
              <div class="content-title">Speaker</div>
              <div class="agenda-speaker-name">Jonathan Mitchell</div>
            </div>

            <button class="agenda-see-more-tab" type="button">See more</button>
          </div>
          <img
            class="agenda-flower"
            src="./img/agenda/agenda-flower-of-life.svg"
            alt="flower of life"
          />
        </div>
        <div class="agenda-block-wrapper">
          <div class="agenda-block agenda-block-23">
            <div class="topic-content">
              <div class="content-title">
                <span class="content-title-date">august 23, 2025</span>
                <span class="content-title-time">02:30 pm → 03:15 PM</span>
              </div>
              <p class="topic-name">
                Digital Assets in Fashion: Unlocking Value and Creativity
                through NFTs
              </p>
            </div>
            <div class="main-content">
              <div class="content-title">main content</div>
              <p class="main-text">
                Experience the forefront of blockchain and NFT technology at our
                NFT Fashion Conference. Explore the transformative power of NFTs
                in the fashion industry. Gain insights into digital ownership
                and tokenized fashion assets, unlocking new avenues for
                creativity and authenticity.
              </p>
            </div>
            <div class="agenda-speaker-content">
              <div class="content-title">Speaker</div>
              <div class="agenda-speaker-name">Victoria Roberts</div>
            </div>
            <button class="agenda-see-more-tab" type="button">See more</button>
          </div>
          <img
            class="agenda-flower"
            src="./img/agenda/agenda-flower-of-life.svg"
            alt="flower of life"
          />
        </div>
        <div class="agenda-block-wrapper">
          <div class="agenda-block agenda-block-23">
            <div class="topic-content">
              <div class="content-title">
                <span class="content-title-date">august 23, 2025</span>
                <span class="content-title-time">03:30 pm → 04:15 PM</span>
              </div>
              <p class="topic-name">
                The Rise of Digital Runways: NFTs and Virtual Fashion Shows
              </p>
            </div>
            <div class="main-content">
              <div class="content-title">main content</div>
              <p class="main-text">
                Experience the forefront of blockchain and NFT technology at our
                NFT Fashion Conference. Explore the transformative power of NFTs
                in the fashion industry. Gain insights into digital ownership
                and tokenized fashion assets, unlocking new avenues for
                creativity and authenticity.
              </p>
            </div>
            <div class="agenda-speaker-content">
              <div class="content-title">Speaker</div>
              <div class="agenda-speaker-name">Grace Turner</div>
            </div>
            <button class="agenda-see-more-tab" type="button">See more</button>
          </div>
          <img
            class="agenda-flower"
            src="./img/agenda/agenda-flower-of-life.svg"
            alt="flower of life"
          />
        </div>
        <div class="agenda-block-wrapper">
          <div id="24" class="agenda-block agenda-block-24">
            <div class="topic-content">
              <div class="content-title">
                <span class="content-title-date">august 24, 2025</span>
                <span class="content-title-time">01:30 pm → 02:15 PM</span>
              </div>
              <p class="topic-name">
                Authenticity and Trust: NFTs as the Future of Fashion
                Authentication
              </p>
            </div>
            <div class="main-content">
              <div class="content-title">main content</div>
              <p class="main-text">
                Experience the forefront of blockchain and NFT technology at our
                NFT Fashion Conference. Explore the transformative power of NFTs
                in the fashion industry. Gain insights into digital ownership
                and tokenized fashion assets, unlocking new avenues for
                creativity and authenticity.
              </p>
            </div>
            <div class="agenda-speaker-content">
              <div class="content-title">Speaker</div>
              <div class="agenda-speaker-name">Leo Thompson</div>
            </div>
            <button class="agenda-see-more-tab" type="button">See more</button>
          </div>
          <img
            class="agenda-flower"
            src="./img/agenda/agenda-flower-of-life.svg"
            alt="flower of life"
          />
        </div>
        <div class="agenda-block-wrapper">
          <div class="agenda-block agenda-block-24">
            <div class="topic-content">
              <div class="content-title">
                <span class="content-title-date">august 24, 2025</span>
                <span class="content-title-time">02:30 pm → 03:15 PM</span>
              </div>
              <p class="topic-name">
                Blockchain Revolution: Transforming the Fashion Industry with
                NFTs
              </p>
            </div>
            <div class="main-content">
              <div class="content-title">main content</div>
              <p class="main-text">
                Experience the forefront of blockchain and NFT technology at our
                NFT Fashion Conference. Explore the transformative power of NFTs
                in the fashion industry. Gain insights into digital ownership
                and tokenized fashion assets, unlocking new avenues for
                creativity and authenticity.
              </p>
            </div>
            <div class="agenda-speaker-content">
              <div class="content-title">Speaker</div>
              <div class="agenda-speaker-name">Maya Collins</div>
            </div>
            <button class="agenda-see-more-tab" type="button">See more</button>
          </div>
          <img
            class="agenda-flower"
            src="./img/agenda/agenda-flower-of-life.svg"
            alt="flower of life"
          />
        </div>
        <div class="agenda-block-wrapper">
          <div class="agenda-block agenda-block-24">
            <div class="topic-content">
              <div class="content-title">
                <span class="content-title-date">august 24, 2025</span>
                <span class="content-title-time">03:30 pm → 04:15 PM</span>
              </div>
              <p class="topic-name">
                Art Meets Fashion: NFTs as a Canvas for Creative Collaboration
              </p>
            </div>
            <div class="main-content">
              <div class="content-title">main content</div>
              <p class="main-text">
                Experience the forefront of blockchain and NFT technology at our
                NFT Fashion Conference. Explore the transformative power of NFTs
                in the fashion industry. Gain insights into digital ownership
                and tokenized fashion assets, unlocking new avenues for
                creativity and authenticity.
              </p>
            </div>
            <div class="agenda-speaker-content">
              <div class="content-title">Speaker</div>
              <div class="agenda-speaker-name">Daniel Lee</div>
            </div>
            <button class="agenda-see-more-tab" type="button">See more</button>
          </div>
          <img
            class="agenda-flower"
            src="./img/agenda/agenda-flower-of-life.svg"
            alt="flower of life"
          />
        </div>
      </div>
    </div>
    <a class="speaker-register-tab tab" href="">register now</a>
  </div>
</section>
