<section class="discover section">
  <div class="container discover-container">
    <div class="discover-content-wrapper">
      <div class="discover-title-wrapper">
        <h3 class="discover-secondary-title title">Discover</h3>
        <h2 class="discover-section-title title">New Codes</h2>
      </div>

      <div class="discover-text">
        <p>
          Welcome to the new era of self-expression. Of convergence in fashion &
          media; blended identities & evolving social norms. It’s time to
          embrace play & immersion & augmentation. To explore new dimensions &
          transitions & unleash the power of community. The opportunity is right
          now. We are building New Codes
        </p>
      </div>
    </div>

    <div class="discover-wrapper-rectangle">
      <img
        class="discover-rectangle-flower"
        src="./img/discover/discover-flower-of-life.svg"
        alt="flower of life"
      />
      <img
        class="discover-female-img"
        src="./img/discover/discover-female.png"
        alt="female"
      />
    </div>
    <div class="faq">
      <ul id="general-faq" class="faq-accordion-container list">
        <li class="ac-faq is-active-faq">
          <h4 class="faq-ac-title">
            Shape the future of digital <br />
            fashion
            <button type="button" class="ac-trigger">
              <svg class="ac-trigger-svg active">
                <use href="./img/symbol-defs.svg#icon-expand-ico-1"></use>
              </svg>
              <svg class="ac-trigger-svg">
                <use href="./img/symbol-defs.svg#icon-expand-ico-2"></use>
              </svg>
            </button>
          </h4>
          <p class="ac-text">
            <br />
            Join us for this landmark event at the Royal Institution in London’s
            exclusive Mayfair district. Business leaders, creators,
            entrepreneurs, technologists, investors and advisers will gather to
            share valuable insights, build new networks and propel the industry
            in its next stage of evolution.
          </p>
        </li>
        <li class="ac-faq">
          <h4 class="faq-ac-title">
            Join the <br />
            conversation
            <button type="button" class="ac-trigger">
              <svg class="ac-trigger-svg active">
                <use href="./img/symbol-defs.svg#icon-expand-ico-2"></use>
              </svg>
              <svg class="ac-trigger-svg">
                <use href="./img/symbol-defs.svg#icon-expand-ico-1"></use>
              </svg>
            </button>
          </h4>
          <p class="ac-text">
            <br />
            New Codes will engage with digital fashion at its most compelling.
            Whether your interests lie in generative AI, 3d design & animation,
            web3, digital luxury, gamification, avatars, next gen supply chains,
            sustainability, enterprise workflows, digital economies, new
            clienteling, phygital fashion, or digitally influenced physical
            fashion, there will be content and conversations for you, along with
            much more. Now’s the time to be “in the room”.
          </p>
        </li>
        <li class="ac-faq">
          <h4 class="faq-ac-title">
            Explore digital <br />identity
            <button type="button" class="ac-trigger">
              <svg class="ac-trigger-svg active">
                <use href="./img/symbol-defs.svg#icon-expand-ico-2"></use>
              </svg>
              <svg class="ac-trigger-svg">
                <use href="./img/symbol-defs.svg#icon-expand-ico-1"></use>
              </svg>
            </button>
          </h4>
          <p class="ac-text">
            <br />
            New Codes will explore the social significance of digital fashion,
            unpacking the values of the generations that engage with it. How do
            trends & influence move from digital world to the physical and vice
            versa? What does effective brand-building & storytelling look like
            in the age of blended identity? What determines the value a digital
            or semi-digital garment?
          </p>
        </li>
        <li class="ac-faq">
          <h4 class="faq-ac-title">
            Activations
            <button type="button" class="ac-trigger">
              <svg class="ac-trigger-svg active">
                <use href="./img/symbol-defs.svg#icon-expand-ico-2"></use>
              </svg>
              <svg class="ac-trigger-svg">
                <use href="./img/symbol-defs.svg#icon-expand-ico-1"></use>
              </svg>
            </button>
          </h4>
          <p class="ac-text">
            <br />
            Watch this space for news of brand activations and other surprises.
            Expect to be inspired & entertained.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
