<section class="footer section">
  <div class="container footer-container">
    <div class="footer-content-wrapper">
      <div class="footer-wrapper-desk animation-item">
        <img
          class="footer-flower-desk"
          src="./img/footer/footer-flower.svg"
          alt="flower-of-life"
        />
        <img
          class="footer-bg-desk"
          src="./img/footer/footer-rectangle.svg"
          alt="background"
        />

        <img
          class="column-1 column"
          src="./img/footer/column-1.png"
          alt="column"
        />
        <img
          class="column-2 column"
          src="./img/footer/column-2.png"
          alt="column"
        />
        <img
          class="column-3 column"
          src="./img/footer/column-3.png"
          alt="column"
        />
        <img
          class="column-4 column"
          src="./img/footer/column-4.png"
          alt="column"
        />
        <img
          class="footer-female-desk"
          src="./img/footer/footer-female.png"
          alt="female"
        />
      </div>
<div class="footer-wrapper-mob animation-item">
        <img
          class="footer-flower-mob"
          src="./img/footer/footer-flower.svg"
          alt="flower-of-life"
        />
        <img
          class="column-1-mob column"
          src="./img/footer/column-1-mob.png"
          alt="column"
        />
        <img
          class="column-2-mob column"
          src="./img/footer/column-2-mob.png"
          alt="column"
        />
        <img
          class="footer-female-mob"
          src="./img/footer/footer-female-mob.png"
          alt="female"
        />
      </div>      <div class="networks">
        <p>Follow us</p>
        <ul class="networks-list">
          <li class="network-item"> <a class="network-link" href=""><svg class="network-svg">
              <use
                href="./img/symbol-defs.svg#icon-instagram"
              ></use>
            </svg>
            <p class="name-network">instagram</p> </a>

          </li>
          <li class="network-item"> <a class="network-link" href="#">
            <svg class="network-svg">
              <use
                href="./img/symbol-defs.svg#icon-linkedin"
              ></use>
            <p class="name-network">linkedin</p> </a>
          </li>
          <li class="network-item"> <a class="network-link" href="">
            <svg class="network-svg">
              <use
                href="./img/symbol-defs.svg#icon-threads"
              ></use>
            <p class="name-network">threads</p> </a>
          </li>
          <li class="network-item"> <a class="network-link" href="">
            <svg class="network-svg">
              <use
                href="./img/symbol-defs.svg#icon-youtube"
              ></use>
            <p class="name-network">youtube</p> </a>
          </li>
        </ul>
      </div>
    <div class="additional-info-wrap">
      <div class="reminder">
        <p>Don’t Miss <br> Out </p>
        <a class="footer-register-tab tab" href="">register now</a>
      </div>
      <ul class="additional-info-list">
        <li><a href="">Privacy policy</a></li>
        <li><a href="">Terms & Conditions</a></li>
        <li><a href="">credits</a></li>
        <li>Designed by league design</li>
      </ul>
    </div>

    </div>
  </div>
</section>
