<section class="get-involved section">
  <div class="container get-involved-container">
    <div class="get-involved-wrap wrap-content">
      <div class="get-involved-block">
        <div class="get-involved-text-wrap">
          <h3 class="get-involved-title">Get involved</h3>
          <p>
            If you’re interested in participating in New Codes, whether as a
            valued partner or a speaker, we’d be delighted to hear from you.
            Please contact us at <span>Info@codes.fashion</span>
          </p>
        </div>

        <a
          class="email-tab tab"
          href="mailto:melnyk-yana@ukr.net?subject=Запит&body=Hello, I am interested in participating in New Codes...."
        >
          Send us an email
        </a>
      </div>

      <img
        class="get-involved-flower"
        src="./img/getInvolved/get-involved-flower.svg"
        alt="flower of life"
      />
    </div>
    <div class="keep-touch-wrap wrap-content">
      <div class="keep-touch-block">
        <div class="keep-touch-text-wrap">
          <h3 class="get-involved-title">Let's Keep in Touch</h3>
          <p>
            Share your email to receive newsletters, updates and offers from New
            Codes. Be the first to hear about new initiatives. See our Privacy
            Policy for more details about how we handle data. You can
            unsubscribe at any time.
          </p>
        </div>

        <div class="subscribe-wrap">
          <form class="subscribe-form">
            <label class="email-area">
              <input
                class="email-area-input"
                name="email"
                type="email"
                placeholder="Your Email"
              />
            </label>
            <button class="subscribe-button tab" type="submit">sign up</button>
          </form>
        </div>
      </div>
    </div>
    <div class="submission-wrap wrap-content hidden">
      <div class="submission-block">
        <div class="submission-text-wrap">
          <p class="submission-title">Thank you!</p>
          <p class="submission-text">Your submission has been received!</p>
        </div>

        <button class="return-tab tab" type="button">return</button>
      </div>
    </div>
  </div>
</section>
