<header class="header">
  <div class="header-container">
    <div class="header-container-wrapper">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        New Codes
      </a>
      <div class="nav-wrapper">
        <div class="nav-content">
          <nav class="nav">
            <ul class="nav-list">
              <li class="nav-item">
                <a class="nav-link" href="#discover">discover</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#speakers">speakers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#agenda">agenda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#news">news & insights</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#location">location</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#partners">partners</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#get-involved">Get Involved</a>
              </li>
            </ul>
          </nav>
          <a class="register-link register" href="">register now</a>
        </div>
      </div>
      <a class="register-link-tab register" href="">register now</a>

      <button aria-label="menu" type="button" class="header-menu">Menu</button>
    </div>
  </div>
</header>
