<section class="hero">
  <div class="container hero-container">
    <div class="hero-content-wrapper">
      <div class="hero-wrapper-desk">
        <img
          class="hero-flower-desk"
          src="./img/hero/flower_of_life-desk.svg"
          alt="flower-of-life"
        />
        <img class="bg-desk" src="./img/hero/bg-shape-1.svg" alt="background" />
        <!-- <div > -->
        <img
          class="female-img-desk"
          src="./img/hero/new_female-desk.png"
          alt="female"
        />
        <!-- </div> -->
      </div>
      <div class="hero-text-wrapper">
        <h3 class="secondary-title title">Digital Fashion Summit</h3>
        <h1 class="page-title title">New Codes</h1>
        <div class="address-wrapper">
           <p class="date">November 15-16</p>
        <address class="address">
          london, mayfair district, Royal Institution
        </address>
        <p class="invite-text">
          Join industry leaders, visionaries & creatives at this landmark summit
          for groundbreaking strategic insight, inspiration & innovation;
          connect with the community, find your competitive edge & frame the
          future of fashion
        </p>
        </div>

        <div class="hero-blok-tab">
          <a class="get-involved-tab hero-tab" href="">Get involved</a>

          <a class="hero-register-tab hero-tab" href="">register now</a>
      </div>
    </div>

    <div class="hero-wrapper-rectangle">
      <img
        class="rectangle-flower"
        src="./img/hero/flower_of_life.svg"
        alt="flower of life"
      />
      <img
        class="female-img"
        srcset="
          ./img/hero/new_female-mob.png    1x,
          ./img/hero/new_female-mob@2x.png 2x
        "
        src="./img/hero/new_female-mob@2x.png"
        alt="female"
      />
    </div>
  </div>
</section>
