<section id="location" class="location section">
  <div class="container location-container">
    <div class="agenda-title-wrapper">
      <h3 class="agenda-secondary-title title">
        A venue fit for the <br />future of fashion
      </h3>
      <h2 class="agenda-section-title title">
        Royal<br />
        Institution
      </h2>
    </div>
    <div class="location-grid">
      <div class="location-info">
        <div class="venue-image">
          <picture
            ><source
              srcset="./img/location/royal-institution.webp"
              type="image/webp"
              media="(min-width: 1181px)"
            />
            <source
              srcset="./img/location/royal-institution-mob.webp"
              type="image/webp"
              media="(max-width: 1180px)"
            />
            <img
              src="./img/location/royal-institution.png"
              alt="photo Royal Institution"
            />
          </picture>
        </div>
        <div class="location-info-item venue-description">
          <h5 class="location-content-title">
            About <br />
            the venue
          </h5>
          <p class="about-venue-text location-text">
            New Codes will take place at the Royal Institution in the heart of
            London’s exclusive Mayfair district. Located amidst Mayfair’s luxury
            boutiques, tailors and high-end restaurants, the Institution is
            steeped in history and renowned for its Christmas science lectures.
            It was here the discovery of the electron and the existence of
            photography were announced amongst many other advances. Our speakers
            will join an intellectual tradition dating back to the early 1800s
            when they take the floor of the Institution's iconic lecture
            theater. We will take inspiration from this distinguished venue’s
            history as we look to the future of the fashion industry.
          </p>
        </div>
      </div>
      <div class="location-decor">
        <img
          class="location-decor-flower"
          src="./img/location/location-flower-of-life.svg"
          alt="flower of life"
        />
        <img
          class="location-decor-column"
          src="./img/location/column.png"
          alt="Royal Institution column"
        />
      </div>
      <div class="location-info">
        <div class="getting-there">
          <div class="location-info-item location-getting-there">
            <h5 class="location-content-title">Getting There</h5>
            <p class="location-text">
              The Royal Institution is a five minute walk from Green Park
              station on the Jubilee, Victoria and Piccadilly Lines. It is a ten
              minute walk from Piccadilly Circus or Oxford Circus stations. Bus
              numbers 9, 14, 19, 22 and 38 run along Piccadilly by the entrance
              to Albemarle Street.
            </p>
          </div>
          <div class="location-info-item google-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2483.1893723059557!2d-0.14411424708251952!3d51.50974165494794!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876052a2196e3e5%3A0xc3942ec97e7a0b29!2s21%20Albemarle%20St%2C%20London%20W1S%204HZ%2C%20UK!5e0!3m2!1sen!2sua!4v1745929022029!5m2!1sen!2sua"
              height="330"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>

        <div class="location-info-item location-accessibility">
          <h5 class="location-content-title">Accessibility</h5>
          <p>
            Accessibility information is available at:
            <a href="https://www.rigb.org/visit">https://www.rigb.org/visit.</a>
            Please let us know if you require any assistance.
          </p>
        </div>
      </div>
    </div>
    <a class="location-register-tab tab" href="">register now</a>
  </div>
</section>
