<section class="news section">
  <div class="container news-container">
    <div class="news-title-wrapper agenda-title-wrapper">
      <h3 class="news-secondary-title agenda-secondary-title title">Read</h3>
      <h2 class="news-section-title agenda-section-title title">
        News & Insights
      </h2>
    </div>
    <div class="news-wrapper">
      <div class="news-list">
        <div class="news-item">
          <div class="news-item-img">
            <picture
              ><source srcset="./img/news/girl.webp" type="image/webp" />
              <img src="./img/news/girl.png" alt="Girl" />
            </picture>
          </div>
          <div class="news-item-text">
            <p class="news-description">
              Unveiling the Future of Fashion: Key Highlights from the NFT
              Fashion Conference
            </p>
            <p class="news-item-data">May 22, 2023</p>

            <div class="news-gradient-overlay"></div>
          </div>
        </div>
        <div class="news-item">
          <div class="news-item-img">
            <picture
              ><source srcset="./img/news/palm.webp" type="image/webp" />
              <img src="./img/news/palm.png" alt="Palm" />
            </picture>
          </div>
          <div class="news-item-text">
            <p class="news-description">
              Fashion in the Digital Age: How NFTs are Revolutionizing the
              Industry
            </p>
            <p class="news-item-data">May 21, 2023</p>

            <div class="news-gradient-overlay"></div>
          </div>
        </div>
        <div class="news-item">
          <div class="news-item-img">
            <picture
              ><source srcset="./img/news/shoes.webp" type="image/webp" />
              <img src="./img/news/shoes.png" alt="Palm" />
            </picture>
          </div>
          <div class="news-item-text">
            <p class="news-description">
              Behind the Scenes: Insights from Industry Experts at the NFT
              Fashion Conference
            </p>
            <p class="news-item-data">May 08, 2023</p>

            <div class="news-gradient-overlay"></div>
          </div>
        </div>
        <div class="news-item">
          <div class="news-item-img">
            <picture
              ><source srcset="./img/news/girl.webp" type="image/webp" />
              <img src="./img/news/girl.png" alt="Girl" />
            </picture>
          </div>
          <div class="news-item-text">
            <p class="news-description">
              Unveiling the Future of Fashion: Key Highlights from the NFT
              Fashion Conference
            </p>
            <p class="news-item-data">May 22, 2023</p>

            <div class="news-gradient-overlay"></div>
          </div>
        </div>
        <div class="news-item">
          <div class="news-item-img">
            <picture
              ><source srcset="./img/news/palm.webp" type="image/webp" />
              <img src="./img/news/palm.png" alt="Palm" />
            </picture>
          </div>
          <div class="news-item-text">
            <p class="news-description">
              Fashion in the Digital Age: How NFTs are Revolutionizing the
              Industry
            </p>
            <p class="news-item-data">May 21, 2023</p>

            <div class="news-gradient-overlay"></div>
          </div>
        </div>
        <div class="news-item">
          <div class="news-item-img">
            <picture
              ><source srcset="./img/news/shoes.webp" type="image/webp" />
              <img src="./img/news/shoes.png" alt="Palm" />
            </picture>
          </div>
          <div class="news-item-text">
            <p class="news-description">
              Behind the Scenes: Insights from Industry Experts at the NFT
              Fashion Conference
            </p>
            <p class="news-item-data">May 08, 2023</p>

            <div class="news-gradient-overlay"></div>
          </div>
        </div>
        <div class="news-item">
          <div class="news-item-img">
            <picture
              ><source srcset="./img/news/girl.webp" type="image/webp" />
              <img src="./img/news/girl.png" alt="Girl" />
            </picture>
          </div>
          <div class="news-item-text">
            <p class="news-description">
              Unveiling the Future of Fashion: Key Highlights from the NFT
              Fashion Conference
            </p>
            <p class="news-item-data">May 22, 2023</p>

            <div class="news-gradient-overlay"></div>
          </div>
        </div>
        <div class="news-item">
          <div class="news-item-img">
            <picture
              ><source srcset="./img/news/palm.webp" type="image/webp" />
              <img src="./img/news/palm.png" alt="Palm" />
            </picture>
          </div>
          <div class="news-item-text">
            <p class="news-description">
              Fashion in the Digital Age: How NFTs are Revolutionizing the
              Industry
            </p>
            <p class="news-item-data">May 21, 2023</p>

            <div class="news-gradient-overlay"></div>
          </div>
        </div>
        <div class="news-item">
          <div class="news-item-img">
            <picture
              ><source srcset="./img/news/shoes.webp" type="image/webp" />
              <img src="./img/news/shoes.png" alt="Palm" />
            </picture>
          </div>
          <div class="news-item-text">
            <p class="news-description">
              Behind the Scenes: Insights from Industry Experts at the NFT
              Fashion Conference
            </p>
            <p class="news-item-data">May 08, 2023</p>

            <div class="news-gradient-overlay"></div>
          </div>
        </div>
      </div>
    </div>
    <button class="view-all-tab tab" type="button">View all</button>
    <div class="insights-wrapper-desk">
      <img
        class="insights-flower-desk"
        src="./img/news/insights-flower-desk.svg"
        alt="flower-of-life"
      />

      <img
        class="insights-bg-desk"
        src="./img/news/insights-bg.svg"
        alt="background"
      />

      <div class="insights-first-text">
        <p>up to</p>
        <p class="big-size">400</p>
        <p>Participants</p>
      </div>
      <div class="insights-second-text">
        <p class="big-size">LIVE STREAM</p>
        <p>TO MEDIA PARTNERS</p>
      </div>
    </div>
    <div class="insights-wrapper-mob">
      <img
        class="insights-flower-mob"
        src="./img/news/insights-flower-mob.svg"
        alt="flower-of-life"
      />

      <img
        class="insights-bg-mob"
        src="./img/news/insights-bg-mob.svg"
        alt="background"
      />

      <div class="insights-first-text">
        <p class="big-size-400">400+</p>
        <p>Participants</p>
      </div>
      <div class="insights-second-text">
        <p class="big-size-live">LIVE STREAM</p>
        <p>TO MEDIA PARTNERS</p>
      </div>
    </div>
  </div>
</section>
