<section class="partners section">
  <div class="container partners-container">
    <div class="agenda-title-wrapper">
      <h3 class="agenda-secondary-title title">Our</h3>
      <h2 class="agenda-section-title title">partners</h2>
    </div>
    <div class="partners-grid">
      <div class="partner-item">
        <div class="partner-item-wrap">
          <div class="partner-item-logo">
            <img
              class="partner-logo"
              src="./img/partners/gucci.svg"
              alt="logo gucci"
            />
            <div class="partner-gradient-overlay">
              <img
                class="partner-logo-black"
                src="./img/partners/gucci-black.svg"
                alt="logo gucci"
              />
              <div class="partner-item-name">
                <p class="partner-name">Gucci</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="partner-item">
        <div class="partner-item-wrap">
          <div class="partner-item-logo">
            <img
              class="partner-logo"
              src="./img/partners/lv.svg"
              alt="logo Louis Vuitton"
            />

            <div class="partner-gradient-overlay">
              <img
                class="partner-logo-black"
                src="./img/partners/lv-black.svg"
                alt="logo Louis Vuitton"
              />
              <div class="partner-item-name">
                <p class="partner-name">Louis Vuitton</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item"></div>
      <div class="partner-item">
        <div class="partner-item-wrap">
          <div class="partner-item-logo">
            <img
              class="partner-logo"
              src="./img/partners/prada.svg"
              alt="logo Prada"
            />
            <div class="partner-gradient-overlay">
              <img
                class="partner-logo-black"
                src="./img/partners/prada-black.svg"
                alt="logo Prada"
              />
              <div class="partner-item-name">
                <p class="partner-name">prada</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="partner-item">
        <div class="partner-item-wrap">
          <div class="partner-item-logo">
            <img
              class="partner-logo"
              src="./img/partners/dior.svg"
              alt="logo Dior"
            />
            <div class="partner-gradient-overlay">
              <img
                class="partner-logo-black"
                src="./img/partners/dior-black.svg"
                alt="logo Dior"
              />
              <div class="partner-item-name">
                <p class="partner-name">Dior</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item"></div>
      <div class="partner-item">
        <div class="partner-item-wrap">
          <div class="partner-item-logo">
            <img
              class="partner-logo"
              src="./img/partners/burberry.svg"
              alt="logo Burberry"
            />
            <div class="partner-gradient-overlay">
              <img
                class="partner-logo-black"
                src="./img/partners/burberry-black.svg"
                alt="logo Burberry"
              />
              <div class="partner-item-name">
                <p class="partner-name">burberry</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="partner-item">
        <div class="partner-item-wrap">
          <div class="partner-item-logo">
            <img
              class="partner-logo"
              src="./img/partners/off-white.svg"
              alt="logo Off-White"
            />
            <div class="partner-gradient-overlay">
              <img
                class="partner-logo-black"
                src="./img/partners/off-white-black.svg"
                alt="logo Off-White"
              />
              <div class="partner-item-name">
                <p class="partner-name">Off-White</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="partner-item">
        <div class="partner-item-wrap">
          <div class="partner-item-logo">
            <img
              class="partner-logo"
              src="./img/partners/balenciaga.svg"
              alt="logo Balenciaga"
            />
            <div class="partner-gradient-overlay">
              <img
                class="partner-logo-black"
                src="./img/partners/balenciaga-black.svg"
                alt="logo Balenciaga"
              />
              <div class="partner-item-name">
                <p class="partner-name">balenciaga</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="partner-item">
        <div class="partner-item-wrap">
          <div class="partner-item-logo">
            <img
              class="partner-logo"
              src="./img/partners/nike.svg"
              alt="logo Nike"
            />
            <div class="partner-gradient-overlay">
              <img
                class="partner-logo-black"
                src="./img/partners/nike-black.svg"
                alt="logo Nike"
              />
              <div class="partner-item-name">
                <p class="partner-name">Nike</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="partner-item">
        <div class="partner-item-wrap">
          <div class="partner-item-logo">
            <img
              class="partner-logo"
              src="./img/partners/stella.svg"
              alt="logo Stella Mccartney"
            />
            <div class="partner-gradient-overlay">
              <img
                class="partner-logo-black"
                src="./img/partners/stella-black.svg"
                alt="logo Stella Mccartney"
              />
              <div class="partner-item-name">
                <p class="partner-name">Stella Mccartney</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item"></div>
      <div class="partner-item">
        <div class="partner-item-wrap">
          <div class="partner-item-logo">
            <img
              class="partner-logo"
              src="./img/partners/versace.svg"
              alt="logo Versace"
            />
            <div class="partner-gradient-overlay">
              <img
                class="partner-logo-black"
                src="./img/partners/versace-black.svg"
                alt="logo Versace"
              />
              <div class="partner-item-name">
                <p class="partner-name">Versace</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="last-item"></div>
      <div class="partner-item">
        <div class="partner-item-wrap">
          <div class="partner-item-logo">
            <img
              class="partner-logo"
              src="./img/partners/rarible.svg"
              alt="logo Rarible"
            />
            <div class="partner-gradient-overlay">
              <img
                class="partner-logo-black"
                src="./img/partners/rarible-black.svg"
                alt="logo Rarible"
              />
              <div class="partner-item-name">
                <p class="partner-name">Rarible</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="see-all-tab tab" data-expanded="true" type="button">
      see all partners
    </button>
  </div>
</section>
