<section id="register" class="register-section section">
  <div class="container register-container">
    <div class="register-decor-desk animation-item">
      <img
        class="register-flower-decor"
        src="./img/register/flower-of-life.svg"
        alt="flower-of-life"
      />
      <img
        class="register-bg-desk"
        src="./img/register/register-bg-shape.svg"
        alt="background"
      />
      <img class="hand-img-desk" src="./img/register/hand.png" alt="female" />
    </div>

    <div class="register-content-wrap">
      <div class="register-title-wrapper discover-title-wrapper">
        <h3 class="register-secondary-title discover-secondary-title title">
          Register Now
        </h3>
        <h2 class="register-section-title discover-section-title title">
          Don’t <br />
          Miss Out
        </h2>
      </div>
      <div class="register-decor-mob animation-item">
        <img
          class="register-flower-decor-mob"
          src="./img/register/flower-of-life-mob.svg"
          alt="flower of life"
        />
        <img
          class="hand-img-mob"
          src="./img/register/hand-mob.png"
          alt="female"
        />
      </div>
      <div class="register-text">
        <p>
          Secure your place at New Codes today. Don’t miss the opportunity to
          join the industry at this landmark event in this great fashion
          capital. Let’s make history together.
        </p>
      </div>
    </div>

    <a class="register-register-tab tab" href="">register now</a>
  </div>
</section>
