<section class="speakers section">
  <div class="container speakers-container">
    <div class="speakers-head-wrapper">
      <div class="speakers-title-wrapper">
        <h3 class="speakers-secondary-title title">Meet</h3>
        <h2 class="speakers-section-title title">the speakers</h2>
      </div>
      <div class="speakers-text">
        <p>
          Meet the experts forging ahead and building the future of fashion.
          Gain exclusive access to industry leaders, innovators & visionaries
          who will share their insights & expertise.
        </p>
      </div>
    </div>

    <div class="experts-wrapper">
      <div class="experts-items">
        <a href="" class="experts-item is-active"
          ><span class="experts-item-text">All experts</span></a
        >
        <a href="" class="experts-item"
          ><span class="experts-item-text">Digital Artists</span></a
        >
        <a href="" class="experts-item"
          ><span class="experts-item-text">Nft enthusiasts</span></a
        >
        <a href="" class="experts-item"
          ><span class="experts-item-text">Fashion Designers</span></a
        >
        <a href="" class="experts-item"
          ><span class="experts-item-text">influencers</span></a
        >
      </div>
      <div class="dropdown">
        <button class="dropdown-button" type="button">All experts</button>
        <ul class="dropdown-list">
          <li class="dropdown-list-item" data-value="all">All experts</li>
          <li class="dropdown-list-item" data-value="digital">
            Digital Artists
          </li>
          <li class="dropdown-list-item" data-value="nft">Nft enthusiasts</li>
          <li class="dropdown-list-item" data-value="fashion">
            Fashion Designers
          </li>
          <li class="dropdown-list-item" data-value="influencers">
            influencers
          </li>
        </ul>
        <input
          type="text"
          name="select-category"
          class="dropdown-input-hidden"
        />
      </div>
    </div>
    <div class="speakers-wrapper">
      <div class="speakers-list">
        <div class="speaker-item">
          <div class="speaker-item-img">
            <picture
              ><source
                srcset="./img/speakers/sophia_ramirez.webp"
                type="image/webp"
              />
              <img src="./img/speakers/sophia_ramirez.png" alt="Photo" />
            </picture>
            <div class="gradient-overlay"></div>
          </div>
          <div class="speaker-item-text">
            <p class="speaker-name">Sophia Ramirez</p>
            <p class="speaker-trade">Fashion Designer and Creative Director</p>
            <p class="extra-text">
              Blends tradition and tech to shape the future of fashion design.
            </p>
          </div>
        </div>
        <div class="speaker-item">
          <div class="speaker-item-img">
            <picture
              ><source
                srcset="./img/speakers/benjamin-chen.webp"
                type="image/webp"
              />
              <img src="./img/speakers/benjamin-chen.png" alt="Photo" />
            </picture>
            <div class="gradient-overlay"></div>
          </div>
          <div class="speaker-item-text">
            <p class="speaker-name">Benjamin Chen</p>
            <p class="speaker-trade">
              Chief Technology Officer of an NFT Platfor
            </p>
            <p class="extra-text">
              The Rise of Digital Runways: NFTs and Virtual Fashion Shows
            </p>
          </div>
        </div>
        <div class="speaker-item">
          <div class="speaker-item-img">
            <picture
              ><source
                srcset="./img/speakers/stella-wright.webp"
                type="image/webp"
              />
              <img src="./img/speakers/stella-wright.png" alt="Photo" />
            </picture>
            <div class="gradient-overlay"></div>
          </div>
          <div class="speaker-item-text">
            <p class="speaker-name">Stella Wright</p>
            <p class="speaker-trade">Fashion Journalist and Editor</p>
            <p class="extra-text">
              Covers fashion trends across digital spaces and global runway
              scenes.
            </p>
          </div>
        </div>
        <div class="speaker-item">
          <div class="speaker-item-img">
            <picture
              ><source
                srcset="./img/speakers/daniel-lee.webp"
                type="image/webp"
              />
              <img src="./img/speakers/daniel-lee.png" alt="Photo" />
            </picture>
            <div class="gradient-overlay"></div>
          </div>
          <div class="speaker-item-text">
            <p class="speaker-name">Daniel Lee</p>
            <p class="speaker-trade">Luxury Fashion Consultant</p>
            <p class="extra-text">
              Advises brands on merging luxury style with digital innovation.
            </p>
          </div>
        </div>
        <div class="speaker-item">
          <div class="speaker-item-img">
            <picture
              ><source
                srcset="./img/speakers/maya-collins.webp"
                type="image/webp"
              />
              <img src="./img/speakers/maya-collins.png" alt="Photo" />
            </picture>
            <div class="gradient-overlay"></div>
          </div>
          <div class="speaker-item-text">
            <p class="speaker-name">Maya Collins</p>
            <p class="speaker-trade">
              Digital Marketing Strategist for Fashion Brands
            </p>
            <p class="extra-text">
              Drives digital campaigns that connect fashion brands with global
              audiences.
            </p>
          </div>
        </div>
        <div class="speaker-item">
          <div class="speaker-item-img">
            <picture
              ><source
                srcset="./img/speakers/leo-thompson.webp"
                type="image/webp"
              />
              <img src="./img/speakers/leo-thompson.png" alt="Photo" />
            </picture>
            <div class="gradient-overlay"></div>
          </div>
          <div class="speaker-item-text">
            <p class="speaker-name">Leo Thompson</p>
            <p class="speaker-trade">Fashion Industry Analyst</p>
            <p class="extra-text">
              Analyzes trends and tech shaping the fashion industry's next
              phase.
            </p>
          </div>
        </div>
        <div class="speaker-item">
          <div class="speaker-item-img">
            <picture
              ><source
                srcset="./img/speakers/grace-turner.webp"
                type="image/webp"
              />
              <img src="./img/speakers/grace-turner.png" alt="Photo" />
            </picture>
            <div class="gradient-overlay"></div>
          </div>
          <div class="speaker-item-text">
            <p class="speaker-name">Grace Turner</p>
            <p class="speaker-trade">Creative Director for NFT Art Projects</p>
            <p class="extra-text">
              Creates visionary NFT collections that blend fashion with digital
              art.
            </p>
          </div>
        </div>
        <div class="speaker-item">
          <div class="speaker-item-img">
            <picture
              ><source
                srcset="./img/speakers/jonathan-mitchell.webp"
                type="image/webp"
              />
              <img src="./img/speakers/jonathan-mitchell.png" alt="Photo" />
            </picture>
            <div class="gradient-overlay"></div>
          </div>
          <div class="speaker-item-text">
            <p class="speaker-name">Jonathan Mitchell</p>
            <p class="speaker-trade">CEO of a Leading Fashion Brand</p>
            <p class="extra-text">
              Leads fashion innovation through sustainability and immersive
              digital experiences.
            </p>
          </div>
        </div>
        <div class="speaker-item">
          <div class="speaker-item-img">
            <picture
              ><source
                srcset="./img/speakers/victoria-roberts.webp"
                type="image/webp"
              />
              <img src="./img/speakers/victoria-roberts.png" alt="Photo" />
            </picture>
            <div class="gradient-overlay"></div>
          </div>
          <div class="speaker-item-text">
            <p class="speaker-name">Victoria Roberts</p>
            <p class="speaker-trade">Trendsetter and Fashion Influencer</p>
            <p class="extra-text">
              Sets global trends through digital influence and bold fashion
              choices.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="speaker-blok-tab">
      <a class="see-more-tab tab" href="">See more</a>

      <a class="speaker-register-tab tab" href="">register now</a>
    </div>
  </div>
</section>
