.hero {
  padding-top: 22px;
}

.hero-secondary-title {
  font-size: 32px;
  text-align: center;
}

.page-title {
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 56px;
  text-align: center;
  text-transform: uppercase;
}

.date {
  text-align: center;
  font-family: 'IBM Plex Mono';
  font-size: 14px;
  font-weight: 700;
  line-height: 160%;
  text-transform: uppercase;
}

.address {
  color: var(--black-01);
  text-align: center;
  font-family: 'IBM Plex Mono';
  font-size: 14px;
  font-style: normal;
  line-height: 160%;
  text-transform: uppercase;
}

.invite-text {
  color: var(--black-01);
  text-align: center;
  font-size: 14px;
  line-height: 160%;
  margin-top: 16px;
  margin-bottom: 24px;
}

.hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 33px;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

.get-involved-tab {
  border: 1px solid var(--off-white-04);
}
.hero-register-tab {
  color: var(--off-white-01);
  background: var(--black-06);
  margin-top: 12px;
  margin-bottom: 24px;
}

.hero-wrapper-rectangle {
  width: 100%;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1;
  border-radius: 16px;
  background: var(--gradient-MAIN-2);
  position: relative;
}

.rectangle-flower {
  opacity: 0.4;
}

.female-img {
  position: absolute;
  inset: auto auto 0 auto;
}
@media screen and (min-width: 680px) and (max-width: 1160px) {
  .page-title {
    font-size: 80px;
  }
}

@media screen and (max-width: 1160px) {
  .hero-wrapper-desk {
    display: none;
  }
}

@media screen and (min-width: 1161px) {
  .hero-wrapper-rectangle {
    display: none;
  }
  .hero {
    padding-top: 32px;
  }
  .hero-container {
    background: var(--chrome-radial);
  }

  .hero-wrapper-desk {
    position: relative;
    -webkit-mask-image: url('/bg-shape-1.svg');
    mask-image: url('/bg-shape-1.svg');
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
  }

  .hero-flower-desk {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0.4;
  }
  .female-img-desk {
    max-width: 786px;
    height: auto;
    position: absolute;
    top: 82%;
    left: 51%;
    transform: translate(-50%, -50%);
  }

  .hero-content-wrapper {
    position: relative;
  }
  .hero-text-wrapper {
    position: absolute;
    width: 100%;
    height: auto;
    inset: 0;
  }

  .hero-secondary-title {
    position: absolute;
    top: 3%;
    max-width: 332px;
    font-size: 46px;
    text-align: left;
  }

  .page-title {
    position: absolute;
    bottom: -4%;
    font-size: 170px;
    text-align: left;
    max-width: 578px;
    margin: 0;
    line-height: 90%;
  }

  .address-wrapper {
    position: absolute;
    top: 3%;
    right: 0;
    max-width: 362px;
  }

  .date,
  .address,
  .invite-text {
    text-align: right;
  }

  .hero-blok-tab {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .hero-tab {
    padding-right: 75px;
    padding-left: 75px;
  }
}

@media screen and (min-width: 1223px) {
  .female-img-desk {
    top: 78%;
  }
}

@media screen and (min-width: 1300px) {
  .female-img-desk {
    top: 71%;
  }
  .hero-secondary-title {
    font-size: 52px;
  }

  .page-title {
    bottom: -3%;
    font-size: 180px;
  }
  .address-wrapper {
    max-width: 401px;
  }

  .invite-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1360px) {
  .hero-secondary-title {
    font-size: 56px;
  }
  .address-wrapper {
    max-width: 440px;
  }
  .page-title {
    font-size: 200px;
  }
  .hero-blok-tab {
    bottom: 2%;
  }
  .hero-tab {
    padding-right: 86px;
    padding-left: 86px;
  }
}
