.location-grid {
  display: grid;
  grid-template-columns: 1fr 38% 1fr;
  grid-column-gap: 15px;
  margin-bottom: 80px;
}
.agenda-secondary-title > br,
.agenda-section-title > br {
  display: none;
}
.google-map {
  max-width: 408px;
  max-height: 330px;
  overflow: hidden;
}

.location-decor {
  width: 100%;
  max-width: 514px;
  max-height: 951px;
  border-radius: 32px;
  background: var(--gradient-MAIN-2);
  position: relative;
  overflow: hidden;
}

.location-decor-flower {
  opacity: 0.4;
}

.location-decor-column {
  position: absolute;
  top: 5%;
}

.location-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.venue-image {
  border-radius: 16px;
  overflow: hidden;
}

.location-content-title {
  font-family: 'IBM Plex Mono';
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
}

.location-info-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border: 1px solid var(--off-white-04);
  border-radius: 16px;
}

.location-accessibility > p > a {
  display: inline;
  font-family: 'IBM Plex Mono';
  font-size: 14px;
  font-weight: 700;
  line-height: 160%;
  text-transform: uppercase;
}

.getting-there {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.google-map {
  padding: 0;
}

@media screen and (max-width: 1180px) {
  .location-grid {
    grid-template-columns: 1fr;
  }
  .location-info,
  .location-grid {
    gap: 24px;
  }

  .getting-there {
    gap: 24px;
  }

  .location-content-title > br {
    display: none;
  }
  .location-decor {
    margin-left: auto;
    margin-right: auto;
  }

  .google-map {
    max-width: 100%;
  }
  .location-accessibility {
    width: 100%;
  }
}

@media screen and (min-width: 562px) and (max-width: 1180px) {
  .venue-image {
    width: 514px;
  }
}

@media screen and (max-width: 768px) {
  .location-text {
    font-size: 14px;
  }
  .agenda-secondary-title > br,
  .agenda-section-title > br {
    display: block;
  }
}
