.partners-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 205px;
  gap: 15px;
}

.partner-item-wrap {
  position: relative;
  background: transparent;
  transition: background 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--off-white-04);
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 20px;
}

.partner-item-name {
  opacity: 0;
  max-height: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  overflow: hidden;
}
.partner-item {
  position: relative;
}
.partner-logo {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.partner-logo-black {
  width: 156px;

  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.partner-item-name {
  position: absolute;
  bottom: 0;
  padding: 4px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--off-white-01);
  width: 100%;

  font-family: 'IBM Plex Mono';
  font-size: 14px;
  line-height: 160%;
  text-transform: uppercase;
  opacity: 1;
  max-height: 0;
  transform: translateY(10px);
  transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .see-all-tab {
    display: none;
  }
  .partner-item-wrap:hover .partner-item-name {
    opacity: 1;
    max-height: 100px;
    transform: translateY(0);
  }
  .partner-item-wrap:hover {
    background: var(--gradient-MAIN-2);
    border: 0;
  }

  .partner-item-wrap:hover .partner-gradient-overlay {
    opacity: 1;
  }

  .partner-item-wrap:hover .partner-logo {
    opacity: 0;
  }

  .partner-item-wrap:hover .partner-logo-black {
    opacity: 1;
  }
}

.partner-gradient-overlay {
  position: absolute;
  inset: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

@media screen and (max-width: 1160px) {
  .partners-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .item {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .partners-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .partners-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .last-item,
  .partner-gradient-overlay {
    display: none;
  }
  .see-all-tab {
    width: 100%;
    margin-top: 40px;
  }
}
@media screen and (max-width: 500px) {
  .partners-grid {
    grid-auto-rows: 170px;
  }
}
@media screen and (max-width: 400px) {
  .partners-grid {
    grid-auto-rows: 128px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .animation-partner {
    animation: animation-partner ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    animation-iteration-count: 1;
  }

  @keyframes animation-partner {
    from {
      scale: 0.5;
      opacity: 0;
    }

    to {
      scale: 1;
      opacity: 1;
    }
  }
}
