.loader-container {
  background: var(--chrome-radial);
  padding-left: 40px;
  padding-right: 40px;
}
.loader-container-wrapper {
  display: grid;
  grid-template-columns: 1fr 560px 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-content: space-between;
}

.wrapper-rectangle {
  height: 560px;
  border-radius: 40px;
  background: var(--gradient-MAIN-2);
  position: relative;
}

.progress-container {
  display: grid;
  justify-content: end;
  gap: 14px;
}

.loader-title {
  color: var(--black-06);
  font-family: Krylon;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -0.02em;
  text-transform: capitalize;
}

.progress-text {
  color: var(--black-06);
  font-family: 'IBM Plex Mono';
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
}

.progress {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.progress-bar-loader {
  position: relative;
  width: 223px;
  height: 2px;
  background: var(--gradient-MAIN-2);
  transition: width 0.1s linear;
}

.progress-bar {
  position: absolute;
  width: 0;
  height: 100%;
  background: var(--off-white-04);
  transition: width 0.1s linear;
}

.progress-percent {
  color: var(--black-01);
  font-family: 'IBM Plex Mono';
  font-size: 14px;
  line-height: 160%;
}

.circle,
.circle-opacity {
  position: absolute;
  fill: var(--off-white-01);
  opacity: 0.2;
  width: 121px;
  height: 121px;
}
.circle-1 {
  inset: 39% auto auto 39%;
}

.circle-2 {
  inset: 28% auto auto 39%;
}

.circle-3 {
  inset: 33.5% auto auto 48.5%;
}
.circle-4 {
  inset: 44% auto auto 48.5%;
}

.circle-5 {
  inset: 49% auto auto 39%;
}

.circle-6 {
  inset: 44% auto auto 30%;
}
.circle-7 {
  inset: 33.5% auto auto 30%;
}

.circle-8 {
  inset: 18% auto auto 39%;
}
.circle-9 {
  inset: 23% auto auto 48%;
}
.circle-10 {
  inset: 28.5% auto auto 57.5%;
}
.circle-11 {
  inset: 39% auto auto 57.5%;
}
.circle-12 {
  inset: 39% auto auto 57.5%;
}
.circle-12 {
  inset: 49.5% auto auto 57.5%;
}
.circle-13 {
  inset: 54.5% auto auto 48%;
}
.circle-14 {
  inset: 60% auto auto 39%;
}
.circle-15 {
  inset: 54.5% auto auto 30%;
}
.circle-16 {
  inset: 49.5% auto auto 20.5%;
}
.circle-17 {
  inset: 38.5% auto auto 20.5%;
}
.circle-18 {
  inset: 28.5% auto auto 20.5%;
}
.circle-19 {
  inset: 23% auto auto 30%;
}
.circle-20 {
  inset: 7% auto auto 39%;
}
.circle-21 {
  inset: 12% auto auto 48%;
}
.circle-22 {
  inset: 17.8% auto auto 57.5%;
}
.circle-23 {
  inset: 22.5% auto auto 66.5%;
}
.circle-24 {
  inset: 33.5% auto auto 66.5%;
}
.circle-25 {
  inset: 44.5% auto auto 66.5%;
}
.circle-26 {
  inset: 55.5% auto auto 66.5%;
}
.circle-27 {
  inset: 60% auto auto 57%;
}
.circle-28 {
  inset: 65% auto auto 48%;
}
.circle-29 {
  inset: 70% auto auto 39%;
}
.circle-30 {
  inset: 65% auto auto 30%;
}
.circle-31 {
  inset: 60% auto auto 21%;
}
.circle-32 {
  inset: 55% auto auto 12%;
}
.circle-33 {
  inset: 44% auto auto 12%;
}

.circle-34 {
  inset: 33% auto auto 12%;
}
.circle-35 {
  inset: 22% auto auto 12%;
}
.circle-36 {
  inset: 17.5% auto auto 21%;
}
.circle-37 {
  inset: 12.5% auto auto 29.5%;
}

@media screen and (max-width: 1200px) {
  .loader-container {
    background: var(--off-white-01);
    padding-top: 40px;
    padding-right: 24px;
    padding-bottom: 120px;
    padding-left: 24px;
    height: 100vh;
  }
  .loader-container-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .loader-title {
    text-align: center;
  }

  .wrapper-rectangle {
    width: 328px;
    height: 327px;
  }
  .circle,
  .circle-opacity {
    width: 78px;
    height: 78px;
  }
  .progress {
    flex-direction: row-reverse;
  }
}
