.register-container {
  position: relative;
  background: var(--chrome-radial);
}

.register-decor-desk {
  width: 70%;
  margin-right: 0;
  margin-left: auto;
  position: relative;
  -webkit-mask-image: url('/register-bg-shape.svg');
  mask-image: url('/register-bg-shape.svg');
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.register-flower-decor {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0.4;
}

.hand-img-desk {
  position: absolute;
  top: 0;
}

.register-content-wrap {
  position: absolute;
  top: 82px;
  bottom: 188px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.register-title-wrapper {
  width: 40%;
}

.register-text {
  width: 39%;
  padding: 16px;
  border: 1px solid var(--off-white-04);
  border-radius: 16px;
}

.register-register-tab {
  position: absolute;
  bottom: 82px;
  width: 59%;
}
.register-decor-mob {
  display: none;
}

.register-title-wrapper > h2 > br {
  display: none;
}

@media screen and (max-width: 1250px) {
  .register-text {
    width: 37%;
  }
  .register-title-wrapper {
    width: 37%;
  }
}

@media screen and (max-width: 1160px) {
  .register-decor-desk {
    display: none;
  }
  .register-decor-mob {
    display: block;
    width: 100%;
    max-width: 580px;
    max-height: 615px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    border-radius: 32px;
    background: var(--gradient-MAIN-2);
    position: relative;
    overflow: hidden;
  }

  .register-flower-decor-mob {
    opacity: 0.4;
  }

  .hand-img-mob {
    position: absolute;
    top: 0;
  }
  .register-container {
    background: var(--off-white-02);
  }
  .register-content-wrap {
    display: block;
    position: static;
  }
  .register-title-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .register-text {
    width: 100%;
    margin-bottom: 80px;
    font-size: 14px;
  }
  .register-register-tab {
    position: static;
    width: 100%;
  }
  .register-title-wrapper > h2 > br {
    display: block;
  }
  .register-title-wrapper {
    width: 100%;
  }
}
