@import url(./css/preloader.css);
@import url(./css/header.css);
@import url(./css/hero.css);
@import url(./css/discover.css);
@import url(./css/speakers.css);
@import url(./css/agenda.css);
@import url(./css/news.css);
@import url(./css/location.css);
@import url(./css/register.css);
@import url(./css/partners.css);
@import url(./css/getInvolved.css);
@import url(./css/footer.css);

/* ============== COMMON STYLES ============== */
@font-face {
  font-family: 'Krylon';
  src: url('./fonts/Krylon-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
:root {
  --chrome-radial: radial-gradient(
    50% 50% at 50% 50%,
    #fdfdfd 70.59%,
    #efefef 100%
  );

  --gradient-MAIN: linear-gradient(
    94deg,
    #c4d8f5 0.05%,
    #ade2f2 34.31%,
    #e5d0f1 62.63%,
    #f3d7ea 85.03%,
    #ecd1d1 99.3%,
    #f5f5d9 111.38%
  );

  --gradient-MAIN-2: linear-gradient(
    95deg,
    #c4d8f5 1.19%,
    #ade2f2 37.49%,
    #e5d0f1 67.51%,
    #f3d7ea 91.25%,
    #ecd1d1 106.36%,
    #f5f5d9 119.17%
  );
  --gradient-vivid: linear-gradient(
    90deg,
    #5089de 11.98%,
    #41b8de 39.06%,
    #c794e7 61.46%,
    #e566bb 79.17%,
    #eb9090 88.54%,
    #d9db6f 100%
  );

  --off-white-01: #fdfdfd;
  --off-white-02: #efefef;
  --off-white-04: #d3d3d3;
  --off-white-06: #b0b0b0;
  --black-01: #747474;
  --black-06: #232323;
  --black-0625: #23232340;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

body {
  background: var(--off-white-02);
  font-family: 'IBM Plex Sans';
  font-size: 16px;
  line-height: 160%;
  color: var(--black-06);
  overflow-x: hidden;
}

input {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-open body {
  overflow: hidden;
}

.wrapper {
  background: var(--off-white-02);
}

.container {
  padding-top: 60px;
  padding-right: 24px;
  padding-bottom: 60px;
  padding-left: 24px;
}

.title {
  color: var(--black-06);
  font-family: Krylon;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -0.02em;
}

.secondary-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.section-title {
  font-size: 56px;
  text-align: center;
}

.news-container,
.register-container,
.partners-container {
  padding-top: 20px;
}
.footer-container {
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1440px;
    padding-top: 82px;
    padding-bottom: 82px;
  }
  .news-container,
  .register-container,
  .partners-container {
    padding-top: 82px;
  }
}

/* ============== /COMMON STYLES ============== */
